TASK 1. ANALYSIS OF UNIVARIATE RANDOM VARIABLES/.ipynb_checkpoints
TASK 2. ANALYSIS OF MULTIVARIATE RANDOM VARIABLES/.ipynb_checkpoints
TASK 3. SAMPLING OF MULTIVARIATE RANDOM VARIABLES/.ipynb_checkpoints